<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Manage PAs</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<script th::inline="javascript">

			var app = angular.module("managePAApp", []);
			app.controller("managePACtrl", function($scope, $http) {
				
				var checkValidUserForm = function(PA) {
					var err = [];
				
					for(var i = 0; i < $scope.PAs.length; i++ ) {
						if( $scope.PA.username === $scope.PAs[i].username) {
						    err.push("Username already exists");
						}
					}
	       	        if( $scope.PA.password === $scope.PA.password2) {
					    // do nothing
					} else {
						err.push("Passwords do not match" );
					}
	 				if( $scope.PA.password.length < 6)
	 					err.push("Password must be more than 6 characters long");
	 				if( $scope.PA.firstName.length == 0){
	 					err.push("A first name must be included");
	 				}
	 				if( $scope.PA.lastName.length == 0){
	 					err.push("A last name must be included");
	 				}
	 				if( $scope.PA.address1.length == 0){
	 					err.push("An address must be included");
	 				}
	 				
					return err.join(".  ");
				}
				
				$scope.PAs = [];
		        $scope.loadPAs = function () {
		          $http.get("/iTrust2/api/v1/patientadvocates/").then(
		            function (response) {
		              $scope.PAs = response.data;
		              $scope.message = "";
		            }, function (rejection) {
		              $scope.PAs = [];
		              $scope.message = "Could not display Patient Advocates";
		            });
		        }
		        
		        $scope.addPA = function () {
					
					$scope.PA.role = "ROLE_PATIENT_ADVOCATE";
		        	
			          var err = checkValidUserForm($scope.PA);
			          if (err) {
			            $scope.errorAdding = err;
			            $scope.successMessage = "";
			          } else {
			            $http.post("/iTrust2/api/v1/patientadvocate", $scope.PA).then(
			              function (response) {
			            	    $scope.loadPAs();
			                $scope.PA.username = "";
			                $scope.PA.password = "";
			                $scope.PA.password2 = "";
			                
			                $scope.PA.firstName = "";
			                $scope.PA.middleName = "";
			                $scope.PA.lastName = "";
			                $scope.PA.preferredName = "";
			                
			                $scope.PA.address1 = "";
			                $scope.PA.phone = "";
			                $scope.PA.email = "";
			                
			                $scope.PA.patients = [];
			                
			                $scope.PA.role = "ROLE_PATIENT_ADVOCATE";
			                $scope.errorAdding = "";
			                $scope.successMessage = "Patient Advocate added successfully.";
			              }, function (rejection) {
			            	    $scope.loadPAs();
			                $scope.errorAdding = "Could not add Patient Advocate: " + rejection.data.message;
			                $scope.successMessage = "";
			              });
			          }
		        }
		        
		        $scope.deletePA = function(PA) {
		            $http.delete('/iTrust2/api/v1/patientadvocate/' + PA.username).then(
		              function (response) {
		                $scope.loadPAs();
		              }, function (rejection) {
		            	    $scope.loadPAs();
		                $scope.message = "Could not remove patient advocate";
		              });
		          }
		        
		        $scope.editPA = function(PA) {
		        	sessionStorage.setItem('PAE', PA.id);
		        	window.location.href = "/iTrust2/admin/editPA";
		        }
		        
		        $scope.patients = [];
		        $scope.getPatients = function() {
		        	$http.get("/iTrust2/api/v1/patients").then(
				    	function (response) {
				        	$scope.patients = response.data;
				            $scope.message = "";
				        }, function (rejection) {
				            $scope.patients = [];
				            $scope.message = "Could not display patients";
				        });
		        }
		        
		        $scope.assoPat = function(PA) {
		        	sessionStorage.setItem('PAE', PA.id);
		        	window.location.href = "/iTrust2/admin/associatePat";
		        }
		        
		        $scope.getTemplate = function (PA) {
			          return 'view';
			        };
			        
			    $scope.getPatients();
			    $scope.loadPAs();
			});
		
		</script>
		
		<div ng-app="managePAApp" ng-controller="managePACtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3>Admin Manage Patient Advocates</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>Existing Patient Advocates:</caption>
									<thead>
										<tr>
											<th>Username</th>
											<th>Patient(s)</th>
											<th>Edit</th>
											<th>Associate Patient</th>
											<th>Delete User</th>
										</tr>
									</thead>
									<tbody>
										<tr name="userTableRow"
											ng-repeat="pa in PAs | orderBy: 'name'"
											ng-include="getTemplate(pa)" userId={{pa.username}}>
										</tr>
									</tbody>
								</table>
								<script type="text/ng-template" id="view">
                <td name="nameCell">{{pa.username}}</td>
			    <td name="roleCell">{{getRole(pa)}}</td>
				<td> 
                  <div class="row text-center">
                    <div class="col-md-6">
                      <input type="button" value="Edit" class="btn btn-success" name="editPA" ng-click="editPA(pa)"/>                          
                    </div>
                  </div>
                </td>
				<td> 
                  <div class="row text-center">
                    <div class="col-md-6">
                      <input type="button" value="Associate Patient" class="btn btn-success" name="assoPat" ng-click="assoPat(pa)"/>                          
                    </div>
                  </div>
                </td>
                <td> 
                  <div class="row text-center">
                    <div class="col-md-6">
                      <input type="button" value="Delete" class="btn btn-danger" name="deletePA" ng-click="deletePA(pa)"/>                          
                    </div>
                  </div>
                </td>
                </script>
								<br>
								<style>
form {
	width: 400px;
}

.label {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px;
	color: #000000
}

input[type=text] {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px
}

input[type=email] {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px
}

input[type=password] {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
}

.floatright {
	float: right;
}
</style>


								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Patient Advocate</div>
											<div class="panel-body">
												<form name="addPAForm"
													ng-submit="addPA(addPAForm.$valid)">
													<b>Username:</b> <input type="text" name="username"
														id="username" ng-model="PA.username" /> <br> <br>
													<b>Password:</b> <input type="password" name="password"
														id="password" ng-model="PA.password" /> <br> <br>
													<b>Password (again):</b> <input type="password"
														name="password2" id="password2" ng-model="PA.password2" /> <br> <br> 
													
													<br>
													
													<b>First Name:</b> <input type="text"
														name="firstName" id="firstName" ng-model="PA.firstName" /> <br> <br> 
														
													<b>Middle Name:</b> <input type="text"
														name="middleName" id="middleName" ng-model="PA.middleName" /> <br> <br> 
														
													<b>Last Name:</b> <input type="text"
														name="lastName" id="lastName" ng-model="PA.lastName" /> <br> <br> 
														
													<b>Nickname/Preferred Name:</b> <input type="text"
														name="preferredName" id="preferredName" ng-model="PA.preferredName" /> <br> <br>
														
													<br>
													
													<b>Address:</b> <input type="text"
														name="address1" id="address1" ng-model="PA.address1" /> <br> <br>
														
													<b>Phone Number:</b> <input type="text"
														name="phone" id="phone" ng-model="PA.phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" /> <br> <br>
														
													<b>Email:</b> <input type="email"
														name="email" id="email" ng-model="PA.email" /> <br> <br>
														
													<br> <input type="submit" id="submit" value="Add Patient Advocate" />

												</form>
												<div>
													<p style="color: red" ng-model="errorAdding" id="error">{{errorAdding}}</p>
												</div>
												<div>
													<p style="color: green" ng-model="successMessage"
														id="success">{{successMessage}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>